* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  font-size: 1rem;
  background-color: whitesmoke;
}
header {
  background: #fff;
}
button {
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: whitesmoke;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.container {
  width: 90%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background: #fff;
}

.nav button {
  font-family: inherit;
}

.create-box {
  width: 380px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  background: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.create-box textarea {
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid lightgray;
}
.create-box button {
  width: fit-content;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0 10px;
}
.flashcard {
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: black;
}
.flashcard h2 {
  font-size: 1rem;
}

.flashcardQuestion {
  border-top: 1px solid red;
  padding: 15px;
  margin-top: 30px;
}
.flashcardAnswer {
  text-align: center;
  display: none;
  color: red;
}

@media (max-width: 768px) {
  .flashcards {
    margin: auto;
  }
  .flashcards {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .create-box {
    width: 100%;
  }
  .flashcards {
    width: 100%;
  }
}
